.music-play-list {
  border-radius: 5px;
  position: absolute;
  bottom: 75px;
  width: 230px;
  height: auto;
  /*top:1px;*/
  transform: translate(-230px);
  z-index: 100;
  overflow: hidden;
  border: 1px solid gray;
  box-sizing: border-box;
  background: rgba(64, 64, 64, 0.3);
  transition: transform .3s;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.2);
}

.play-list-header {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  font-size: 20px;
  color: #f1f1f1;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid #202020;
  box-shadow: 0 0 5px #000, inset 0 0 5px rgba(255, 255, 255, 0.2);
  text-align: center;
  background-color: rgba(238,173,91,1);
  cursor: pointer;
  position: absolute;
  z-index: 99;
  border-radius: 5px;
  transition: all .3s;
}

.play-list-header:hover {
  background-color: rgba(238,160,70,1);
}

.list-header-ul {
  position: absolute;
  top: 61px;
  font-size: 16px;
  left: 0;
  width: 100%;
  z-index: 100;
  display: none;
}

.list-header-ul li {
  text-align: center;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  transition: all .1s;
  cursor: pointer;
}

.list-header-ul li:hover {
  background: rgba(238, 171, 81, 0.5);
}

.list-header-ul .choose {
  background: rgba(238, 171, 81, 0.5);
}

.list-header-ul li:first-child {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.list-ul2 {
  left: -230px;
}



.list-ul {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  opacity: 0.8;
  /*max-height: calc(100% - 60px);*/
  height: auto;
  position: absolute;
  transition: all .3s;
  top: 60px;
  z-index: 50;
}

.list-ul li {
  border-bottom: 1px solid #555;
  padding: 15px;
  color: #fff;
  font-size: 15px;
  width: 100%;
  /*height: 100%;*/
  cursor: pointer;
  word-break: break-all;
  transition: background-color 0.3s;
  box-sizing: border-box;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  z-index: 50;
}

.list-ul li span {
  float: left;
  font-size: 16px;
}

.list-ul li:hover {
  background-color: #aaa;
  color: rgb(212, 70, 111);
  box-shadow: inset -1px 0 2px rgba(255, 255, 255, 0.8);
}

.list-ul .playing {
  color: rgb(212, 70, 111);
  background-color: skyblue !important;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 1) !important;
}
