
	.music-lrc {
			position: absolute;
			width: 100%;
			top: 85px;
			left:0;
			bottom: 75px;
			opacity: 1;
			overflow: hidden;
			transition: opacity .3s;
			z-index: 90;
			/*background: rgba(0, 0, 0, 0.1);*/
			/*box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.2);*/
		}

	.lrc-ul {
		width: 550px;
		height: auto;
		position: absolute;
		left: 50%;
		margin-left: -240px;
		/*top: 10%;*/
		transform: translateY(0);
		transition: all .5s;
	}

	.lrc-ul li {
		padding: 5px 0px;
		font-size: 18px;
		height: auto;
		box-sizing: border-box;
		cursor: pointer;
		transition: all .3s;
		font-weight: bold;
		font-family: kaiTi;
		text-shadow: 0 0 3px rgba(0,0,0,0.2);
		height: 40px;
		line-height: 40px;
	}

	.lrc-ul .playing {
		color: rgb(246, 170, 183);
		font-size: 20px;
		text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
	}
