.music-lrc {
    position: absolute;
    width: 100%;
    top: 85px;
    left:0;
    bottom: 75px;
    /*background: rgba(157, 179, 233, 0.8);*/
    /*box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.2);*/
    overflow: hidden;
  }

  .lrc-ul {
    width: 370px;
    /*max-height: 80%;*/
    height: auto;
    /*overflow: hidden;*/
    position: absolute;
    left: 50%;
    margin-left: -185px;
    top: 10%;
    transition: all .6s;
  }

  .lrc-ul li {
    padding: 8px 10px;
    font-size: 18px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    transition: color .3s;
    font-weight: bold;
    font-family: cursive;
  }

  .lrc-ul .playing {
    color: black;
  }
