.music-wave {
  position: absolute;
  width: 100%;
  top: 65px;
  left:0;
  display: none;
  background: rgba(157, 179, 233, 0.8);
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.2);
}
