.music-play-list {
  /* border-radius: 5px; */
  position: absolute;
  bottom: 75px;
  width: 230px;
  height: auto;
  /*top:1px;*/
  transform: translate(-230px);
  z-index: 100;
  overflow: hidden;
  /*overflow-x: visible;
  overflow-y: visible;*/
  /* border: 1px solid rgba(180, 180, 179,0.3); */
  box-sizing: border-box;
  /* background: rgba(0,0,0,0.1); */
  background: rgba(91, 91, 91, 0.4);
  transition: transform .3s;
  /* box-shadow: 2px 0 2px rgba(45, 45, 45, 0.2), inset 0 0 5px rgba(255, 255, 255, 0.2); */
}

.play-list-header {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  font-size: 20px;
  /* color: #723273; */
  /* color: black; */
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  /*border-bottom: 1px solid #202020;*/
  /* box-shadow: 0 0 5px #ef96cf, inset 0 0 5px rgba(255, 255, 255, 0.2); */
  text-align: center;
  /* background-color: rgb(228, 133, 159); */
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: rgba(111, 173, 236, 0.8);
  cursor: pointer;
  position: absolute;
  z-index: 99;
  /* border-radius: 5px; */
  transition: all .3s;
  /* filter: blur(2px);  */
}

.play-list-cut::after {
  /* background-image: url(xxx.jpg); */
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
}

.play-list-header:hover {
  /* background-color: rgb(228, 133, 159); */
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-color: rgba(111, 173, 236, 1);
}

.list-header-ul {
  position: absolute;
  /* top: 61px; */
  /* top: 4px; */
  top: -120px;
  font-size: 14px;
  font-weight: bold;
  left: 234px;
  width: 100px;
  z-index: 100;
  /* display: none; */
  z-index: 1000;
  transition: all .4s ease-in-out;
}

.list-header-ul li {
  text-align: center;
  background: rgba(91,91,91,0.4);
  border-radius: 5px;
  transition: all .1s;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  color: white;
  margin-bottom: 5px;
}

.list-header-ul li:hover {
  background: rgba(111, 173, 236, 0.8);
}

.list-header-ul .choose {
  background: rgba(111, 173, 236, 0.8);
}

.list-header-ul li:first-child {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.list-ul2 {
  left: -230px;
}



.list-ul {
  width: 100%;
  /* overflow: hidden; */
  /*overflow-x: visible;
  overflow-y: visible;*/
  opacity: 0.8;
  height: auto;
  /* position: absolute; */
  transition: all .3s;
  /* top: 60px; */
  top: 0;
  z-index: 50;
  box-sizing: border-box;
  transform: translateY(0px);
}

.list-ul li {
  font-family: KaiTi;
  /*border-bottom: 1px solid #555;*/
  padding: 18px;
  color: white;
  font-size: 15px;
  width: 100%;
  /*height: 100%;*/
  cursor: pointer;
  word-break: break-all;
  transition: background-color 0.3s;
  box-sizing: border-box;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 50;
  font-weight: 600;
  box-shadow: 0 0 1px rgba(199, 199, 199, 0.6);
}

.list-ul li span {
  float: left;
  font-size: 16px;
}

.list-ul li:hover {
  background-color: rgba(148, 211, 255, 0.5);
  color: rgb(219, 72, 115);
  /* box-shadow: inset 0 0 2px rgba(199, 199, 199, 0.6); */
}

.list-ul .playing {
  color: rgb(219, 72, 115);
  background-color: rgba(129, 191, 236, 0.8) !important;
  /*box-shadow: inset 0 0 3px rgba(0, 0, 0, 1) !important;*/
}

.list-ul2 li {
  position: relative;
  top: 1px;
  transition: left,color .3s;
  opacity: 1;
}

.list-ul2 li:hover .ul2-close{
  opacity: 1;
}

.list-ul2 .addmy {
  padding: 0;
  margin: 3px auto 3px ;
  width: 98%;
  height: 70px;
  line-height: 70px;
  position: relative;
  border-bottom: none;
}

.list-ul2 .addmy .myline {
  position: absolute;
  width: 30px;
  height: 22px;
}

.list-ul2 .addmy .add-tranition {
  transition: all .2s;
}

.list-ul2 .addmy .b-topleft {
  left: 5px;
  top: 3px;
  border-top: 2px dashed white;
  border-left: 2px dashed white;
}

.list-ul2 .addmy .b-bottomleft {
  left: 5px;
  bottom: 3px;
  border-bottom: 2px dashed white;
  border-left: 2px dashed white;
}

.list-ul2 .addmy .b-topright {
  right: 5px;
  top: 3px;
  border-top: 2px dashed white;
  border-right: 2px dashed white;
}

.list-ul2 .addmy .b-bottomright {
  right: 5px;
  bottom: 3px;
  border-bottom: 2px dashed white;
  border-right: 2px dashed white;
}

.list-ul2 .addmy .shu {
  position: absolute;
  height: 45px;
  width: 2px;
  background: white;
  left: 110px;
  top: 12px;
}

.list-ul2 .addmy .hen {
  position: absolute;
  width: 45px;
  height: 2px;
  background: white;
  top: 33px;
  left: 89px;
}

.list-ul2 .addmy:hover {
  background-color: rgba(0,0,0,0.1);
}

.list-ul2 .addmy:hover .shu{
  height: 38px;
  width: 2px;
  background: white;
  left: 110px;
  top: 16px;
}

.list-ul2 .addmy:hover .hen{
  width: 38px;
  height: 2px;
  background: white;
  top: 33px;
  left: 92px;
}

.list-ul2 .addmy:hover .myline {
  width: 25px;
  height: 20px;
}

.list-ul2 .addmy:hover .b-topleft {
  left: 10px;
  top: 7px;
}

.list-ul2 .addmy:hover .b-bottomleft {
  left: 10px;
  bottom: 7px;
}

.list-ul2 .addmy:hover .b-topright {
  right: 10px;
  top: 7px;
}

.list-ul2 .addmy:hover .b-bottomright {
  right: 10px;
  bottom: 7px;
}

.file {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}

.ul2-close {
  position: absolute;
  right: -4px;
  top: -5px;
  width: 25px;
  height: 25px;
  opacity: 0;
  color: black;
  transition: color,opacity .2s;
}

.ul2-close:hover {
  color: rgb(217, 51, 104);
}

.list-bar {
  position: absolute;
  right: 0;
  width: 5px;
  height: 55px;
  border-radius: 2px;
  background: rgba(238, 95, 241, 0.8);
  z-index: 99;
  cursor: pointer;
  transition: top,opacity .3s;
  opacity: 0;
}

.list-bar-wrap {
  position: absolute;
  top: 61px;
  right:0;
  width: 10px;
  transform: translateY(0px);
  z-index: 999;
  /*background: gray;*/
}
